<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Geo Draw - Auth</title>
</head>
<body>
    <div class="login">
        <div class="container login__inner">
            <div class="login__box">
                <a href="/oneid/login" class="login__link">
                    <img class="login__img" src="{{ url_for('static', filename='images/login.png') }}" alt="login img" width="220" height="280">
                </a>
            </div>
        </div>
    </div>
</body>
</html>